* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      margin: 0;
    }

    h1 {
      font-family: "Inter", sans-serif;
      font-size: 3rem;
      line-height: 1.2;
      font-weight: normal;
      margin-bottom: 2rem;
    }

    h1 span {
      font-weight: bold;
    
    }

    span, a {
      color: #ff9900;
    }

    p, #footer {
      color: #7d7987;
      font-size: 1rem;
      line-height: 1.8;
    }

    #footer {
      position: relative;
      padding: 2rem;
    }

    #footer a + a {
      margin-left: 1,75rem;
      
  }

  .line {
    width: 100%;
    max-width: 36rem;
    height: 1px;

    margin: 0 auto 0.5rem;

    border: 1px solid #ECEFF2;
}

#hero {
  width: 100%;
  max-width: 37rem;
  margin: 0 auto 4.5rem;
}

#hero img {
  width: 100%;
  max-width: 40rem;
  height: auto;
  object-fit: contain;

}

#balls {
 position: absolute;
 bottom: 1rem;
 right: 1rem;
 max-width: 8rem;
 max-height: 8rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p, #footer {
    font-size: 0.875rem;
    line-height: 1.5;

  }

  #hero {
    margin-bottom: 3rem;
  }

  #footer {
    font-size: 0.875rem;
  }

  .line {
    width: 90%;
  }

  #balls {
    max-width: 5rem;
    max-height: 5rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  p, #footer {
    font-size: 1.125rem;
  }

  #hero {
    margin-bottom: 5rem;
  }

  .line {
    width: 50%;
  }

  #balls {
    max-width: 10rem;
    max-height: 10rem;
  }
}